* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #151515;
}

::-webkit-scrollbar {
    background-color: #151515;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #d67b26;
}

html {
    scroll-behavior: smooth;
}

.NavBar {
    height: 78px;
    width: 100%;
    position: fixed;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
}

.logo {
    color: white;
    font-size: 32px;
}

span {
    color: #d67b26;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 40px;
    font-size: 19px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #d67b26;
    transition: .3s;
}

#Home {
    display: flex;
    padding-top: 80px;
    padding-left: 300px;
    padding-right: 300px;
    justify-content: space-between;
}

.Image img {
    width: 500px;
}

.Content {
    color: white;
    padding-top: 180px;
}

#one {
    font-size: 50px;
    padding-bottom: 10px;
}

#two {
    font-size: 100px;
    color: #d67b26;
    padding-bottom: 10px;
}

#three {
    font-size: 20.5px;
    text-align: justify;
    line-height: 40px;
    padding-bottom: 30px;
}

#dot {
    color: white;
}

a {
    color: white;
}

a:hover {
    color: #d67b26;
    transition: .3s;
}

#four {
    font-size: 20px;
}

#Head1 {
    padding-top: 100px;
    color: white;
    padding-left: 300px;
    padding-bottom: 20px;
}

#h2 {
    color: white;
    font-size: 40px;
    padding-bottom: 10px;
}

#h1 {
    font-size: 40px;
    color: #d67b26;
}

.Box1 {
    color: white;
    padding-top: 10px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 12px;
    border-style: solid;
    border-color: #d67b26;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-weight: lighter;
    line-height: 58px;
    margin-bottom: 30px;
}

.left {
    padding: 35px;
}

.right {
    padding: 35px;
}

#Bold {
    color: white;
    font-weight: 500;
}

.cvbutton {
    padding-left: 1240px;
    margin-bottom: 40px;
}

.cv #cv {
    padding: 10px;
    text-decoration: none;
    background-color: #d67b26;
    border-radius: 10px;
    font-size: 20px;
}

#cv:hover {
    background-color: white;
}

.Head2,
.Box2 {
    padding-left: 300px;
    padding-right: 300px;
}

#data {
    font-size: 20px;
    padding-top: 30px;
    color: white;
}

.container {
    margin-top: 10px;
    width: 100%;
    color: white;
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.html {
    width: 90%;
    background-color: #d67b26;
}

.css {
    width: 80%;
    background-color: #d67b26;
}

.js {
    width: 25%;
    background-color: #d67b26;
}

.java {
    width: 50%;
    background-color: #d67b26;
}

.py {
    width: 50%;
    background-color: #d67b26;
}

#Blogs {
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
}

.up,
.down {
    margin-top: 30px;
    display: flex;
}

img {
    width: 90%;
}

#readmore1,
#readmore2,
#readmore3,
#readmore4 {
    color: white;
    font-size: 20px;
    padding-top: 10px;
}

#readmore1 {
    padding-left: 398px;
}

#readmore2 {
    padding-left: 383px;
}

#readmore3 {
    padding-left: 390px;
}

#readmore4 {
    padding-left: 390px;
}

#Hobbies {
    color: white;
}

#Hobbies {
    margin-top: 100px;
}

.Boxes {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.border {
    padding: 20px;
    border-radius: 12px;
    border-style: solid;
    border-color: #d67b26;
    font-size: 40px;
    text-align: center;
    font-weight: 100;
}

i {
    padding-bottom: 30px;
}

#Contact {
    margin-top: 100px;
}

form {
    border-radius: 5px;
    border: solid 2px white;
    padding: 50px;
    width: 1050px;
    margin-top: 50px;
    color: white;
}

input[type="text"],
textarea {
    font-size: 20px;
    border-radius: 5px;
    color: white;
    width: 95%;
    padding: 20px;
    margin: 20px 0;
    border: solid 1px #d67b26;
}

input[type="submit"] {
    font-size: 20px;
    border-radius: 5px;
    background-color: #d67b26;
    color: white;
    margin-top: 30px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}